
.Capacitor_Calculator_Wrapper{
  display: grid;
  margin-top: 100px;
  width: 100%;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(7,1fr);
  background-color: none;
  background-color: rgb(35,35,35);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
  animation: Translate_Up 1s forwards;
}

.Input_Label{
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  background-color: rgb(35,35,35);
  border-radius: 12px 0px 0px 0px;
}

.Result_Label{
  display: block; 
  grid-row: 1 / span 1;
  grid-column: 5 / span 3;
  background-color: rgb(35,35,35);
  border-radius: 0px 12px 0px 0px;
}

.Headers{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(170,170,170);
  font-size: 2vw;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);  
  height: 20px;
  top: 50%;
  margin-top: -1vw;
  z-index: 4;
  border-radius: 0px;
}

#Input_Header{
  display: block;
  height: 60%;
  width: 100%;
  text-align: center;
}

#Result_Header{
  display: block;
  height: 60%;
  width: 100%;
  text-align: center;
}

.Left_Panel{
  height: 100%;
  width: 100%;
  position: relative;
  grid-column: 1 / span 3;
  grid-row: 2 / span 6;
  background-color: red;
  border-radius: 12px 0px 0px 12px;
  background-color: rgb(35,35,35);
}

.Left_Panel_Inner_Wrapper{
  display: grid; 
  grid-gap: 1vw;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  margin-left: 10%;
  height: 90%;
  width: 80%;
}

.Preview_Capacitor{
  position: relative;
  grid-row: 1 / span 4;
  grid-column: 2 / span 6;
  padding: -20px;
  border: 2px dashed rgb(20,20,20);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  border-radius: 1.5vw;
  background-image: url('./Assets/Capacitor_Symbol_2.png');
  background-size: 38%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.Digit_Buttons{
  position: relative; 
  left: 50%;
  margin-left: -3.5vw;
  border-radius: 1vw;
  width: 7vw;
  height: 7vw;
  background-color: rgb(35,35,35);
  color: rgb(170,170,170);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
  line-height: 7vw;
  cursor: text;
}

input { 
  caret-color: rgb(0,197,185);
}

.Left_Panel_Inner_Wrapper > input:nth-child(2){
  grid-row: 5 / span 2;
  grid-column: 2 / span 2;
  border: none;
}

.Left_Panel_Inner_Wrapper > input:nth-child(3){
  grid-row: 5 / span 2;
  grid-column: 4 / span 2;
  border: none;
}

.Left_Panel_Inner_Wrapper > input:nth-child(4){
  grid-row: 5 / span 2;
  grid-column: 6 / span 2;
  border: none;
}

.Tolerance_Slider_Container{
  position: relative;
  grid-row: 7 / span 2;
  grid-column: 2 / span 6;
  height: 100%;
  width: 120%;
  top: 25%;
  left: 50%;
  margin-left: -60%;
  border-radius: 100px;
  background-color: rgb(35,35,35);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  background-image: url('./Assets/Scale_Markers_2.png');
  background-size: 66% 25%;
  background-position: 35% 10%;
  background-repeat: no-repeat;
}

#Tolerance_Slider::-webkit-slider-thumb{
  appearance: none;
  -webkit-appearance: none;
  width: 2vw;
  height: 2vw;
  border-radius: 1vw;
  background: rgb(170,170,170);
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.2), inset 1px 1px 2px 0px rgba(255,255,255,0.15);
  transition: transform 0.25s, filter 0.25s;
  filter: brightness(1);
}

#Tolerance_Slider::-webkit-slider-thumb:hover{
  transform: scale(1.1);
  filter: brightness(1.2);
}


#Tolerance_Slider{
  position: absolute;
  -webkit-appearance: none;
  height: 1vw;
  width: 70%;
  border-radius: 100px;
  top: 3vw;
  margin-top: -0.5vw;
  left: 50%;
  margin-left: -40%;
  background-color: rgb(0,197,185);
  z-index: 4;
  box-shadow: inset 2px 2px 2px 0px rgba(20,20,20,0.4); 
}

#Slider_Selection_Label{
  position: relative;
  height: 3vw;
  width: 3vw;
  background-color: white;
  left: 85%;
  top: 50%;
  margin-top: -1.5vw;
  border-radius: 1.5vw;
  background-color: rgb(0,197,185);
  box-shadow: inset 2px 2px 2px 0px rgba(20,20,20,0.4); 
}

#Selected_Label{
  position: absolute;
  font-size: 2vw;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(0,0,0,0.5);
  height: 2vw;
  width: 2vw;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -1vw;
  margin-top: -1.1vw;
  text-shadow: 2.5px 2.5px 0px rgba(0,0,0,0.1);
}

#Capacitor_Value{
  position: relative;
  height: 2.5vw;
  width: 5vw;
  /* background-color: white; */
  color: rgb(30,30,30);
  font-family: sans-serif;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  top: 37%;
  left: 49.5%;
  margin-top: -1.25vw;
  margin-left: -2.5vw;  
  text-shadow: 2px 2px 2px rgba(20,20,20,0.2);
}

.Right_Panel{
  height: 100%;
  width: 100%;
  grid-column: 5 / span 3;
  grid-row: 2 / span 6;
  background-color: green;
  border-radius: 0px 12px 12px 0px;
  background-color: rgb(35,35,35);
}

.Right_Panel_Inner_Wrapper{
  display: grid; 
  grid-gap: 2%;
  border: 2px dashed rgb(20,20,20);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  border-radius: 1.5vw;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(9,1fr);
  margin-left: 10%;
  height: 90%;
  width: 80%;
}

.Result_Inset{
  font-family: sans-serif;
  /* color: rgb(170,170,170); */
  color: rgb(250,250,250);
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  grid-row: 3 / span 2;
  grid-column: 2 / span 4;
  border: none;
  border-radius: 1.2vw;
  background-color: rgb(20,20,20);
  box-shadow: inset 2px 2px 3px 1px rgba(0,0,0,0.5), inset -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
}

.Unit_Square{
  font-family: sans-serif;
  color: rgb(170,170,170);
  /* color: rgb(250,250,250); */
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  grid-row: 3 / span 2;
  grid-column: 6 / span 2;
  border: none;
  border-radius: 1.2vw;
  background-color: rgb(20,20,20);
  box-shadow: inset 2px 2px 3px 1px rgba(0,0,0,0.5), inset -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
}

.Tolerance_Value{
  font-family: sans-serif;
  color: rgb(170,170,170);
  /* color: rgb(250,250,250); */
  font-size: 1.6vw;
  font-weight: bold;
  text-align: center;
  grid-row: 5 / span 2;
  grid-column: 2 / span 6;
  border: none;
  border-radius: 1.2vw;
  background-color: rgb(20,20,20);
  box-shadow: inset 2px 2px 3px 1px rgba(0,0,0,0.5), inset -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
}

.Swap_Button{
  position: relative;
  height: 118%;
  width: 90%;
  left: 40%;
  margin-left: -50%;
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
  background-color: rgb(20,20,20);
  border-radius: 100px;
  color: rgb(170,170,170);
  box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.5), inset -0.5px -0.5px 1px 0px rgba(255,255,255,0.15);
  border: 0.8vw solid rgb(22,22,22);
  transition: background-color 0.2s linear, transform 0.7s ease-out, color 0.5s, border 0.5s;
}

.Swap_Button:hover {
  transition: background-color, border 0.5s;
  background-color: rgb(55,55,55);
  color: rgb(205,205,205);
  border: 0.8vw solid rgb(205,205,205);  
}

.Swap_Label{
  position: absolute;
  height: 20px;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -50%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  background-color: none;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  line-height: 21px;
}

@keyframes Translate_Up{
  0%{
    transform: translateY(70px); 
    filter: opacity(0);
  }
  100%{
    transform: translateY(0px);   
    filter: opacity(1);  
  }
}

.Left_Panel_Swapped{
  grid-column: 5 / span 3;
  grid-row: 2 / span 6;
  border-radius: 0px 0px 12px 12px;
}

.Right_Panel_Swapped{
  grid-column: 1 / span 3;
  grid-row: 2 / span 6;
  border-radius: 0px 0px 12px 12px;
}

.Swap_Button_Swapped{
  margin-left: -28%;
}

.Colour_Swap{
  color: rgb(170,170,170);
}

.Colour_Swap_2{
  color: rgb(250,250,250);
}

/* .Right_Panel_Inner_Wrapper > input:hover{
  transition: background-color;
  background-color: rgb(55,55,55);
  color: rgb(255,255,255);
}

.Right_Panel_Inner_Wrapper > button:hover{
  transition: background-color;
  background-color: rgb(55,55,55);
  color: rgb(255,255,255);
} */

.Active_Input{
  transition: background-color;
  background-color: rgb(55,55,55);
  color: rgb(255,255,255);
}

.Result_Inset:hover{
  cursor: text;
}

/* .Digit_Buttons:hover{
  transition: background-color;
  background-color: rgb(55,55,55);
  color: rgb(255,255,255);
} */

.Explanation_Panels{
  display: grid;
  /* grid-gap: 3vw; */
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(8,1fr);
  margin-top: 2vw;
  width: 100%;
  height: 55vw;
}

.Function_Panel_1{
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
  /* box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15); */
  animation: Translate_Up 1s forwards;
  background-image: url('./Assets/Help_Panel_1.png');
  background-size: 50%;
  background-position: 15% 50%;
  background-repeat: no-repeat;
  transition: opacity 1s ease-out;
}

.Function_Panel_2{
  grid-column: 5 / span 3;
  grid-row: 1 / span 4;
  /* background-color: rgb(35,35,35); */
  /* box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15); */
  animation: Translate_Up 1s forwards;
  background-image: url('./Assets/Equivalent_Capacitors.png');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 50% 40%;
}

.Function_Panel_2_Heading{
  position: relative;
  height: 10%;
  top: 10%;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(170,170,170);
  font-size: 1.6vw;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);  
  text-align: center;
}

.Functional_Panel_2_Summary{
  position: relative;
  height: 20%;
  width: 80%;
  top: 60%;
  left: 50%;
  margin-left: -40%;
  font-family: sans-serif;
  color: rgb(170,170,170);
  font-size: 1.3vw;
  font-weight: bold;
  text-align: center;
}

.Function_Panel_3{
  grid-column: 1 / span 4;
  grid-row: 5 / span 4;
  /* background-color: rgb(35,35,35); */
  /* box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15); */
  animation: Translate_Up 1s forwards;
  background-image: url('./Assets/Help_Panel_2.png');
  background-size: 50%;
  background-position: 15% 50%;
  background-repeat: no-repeat;
  opacity: 0.2;
  transition: opacity 1s ease-out;
}

.Explanation_Headers{
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.6vw;
  color: rgb(32,194,182);
  width: 45%;
  text-align: left;
  left: 59%;
}

.Explanation_Headers:nth-child(1){
  top: 26.4%;
}

.Explanation_Headers:nth-child(2){
  top: 67.8%;
}

.Explanation_Headers > li{
  font-size: 1.3vw;
  color: rgb(170,170,170);
}

#Wrapped_Bullet_Point{
  color: rgba(0,0,0,0);
}

#Wrapped_Text{
  color: rgb(170,170,170);
}

.Explanation_Headers_2{
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.6vw;
  color: rgb(32,194,182);
  width: 45%;
  text-align: left;
  left: 59%;
}

.Explanation_Headers_2:nth-child(1){
  top: 10%;
}

.Explanation_Headers_2:nth-child(2){
  top: 43.2%;
}

.Explanation_Headers_2:nth-child(3){
  top: 67.7%;
}

.Explanation_Headers_2 > li{
  font-size: 1.3vw;
  color: rgb(170,170,170);
}

.Function_Panel_1_Swapped{
  grid-column: 1 / span 4;
  grid-row: 5 / span 4;
  opacity: 0.2;
}

.Function_Panel_3_Swapped{
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
  opacity: 1;
}










@media only screen and (max-width: 560px){
  .Capacitor_Calculator_Wrapper{
    margin-top: 60px;
  }
  .Digit_Buttons{
    height: 6vw;
    width: 6vw;
  }
}

