


body {
  margin: 0px 20px -50px 20px;
  background-color: rgb(20,20,20);
  font-size: 100%;
  /* overflow: hidden; */
   overflow-y: scroll; 
   overflow-x: hidden;
}

.Slide_Menu_Button{
  margin-top: -17px;
}

.carousel{
  margin-left: -20px;
  /* position: fixed; */
  margin-top: 0px;
  background-color: rgb(20,20,20);
  height: 100vh;
}

.carousel-inner{
  height:120vh;
  width:101vw;
  background-color: rgb(20,20,20);

}

.Carousel_Item_Containers{
  margin-top: 85px;
  height:100vh;
  width:101vw;
  background-color: rgb(20,20,20);
  text-align: center;
  font-size: 20vw;
}

.carousel-indicators .Not_Active{
  position: fixed;
  height: 2.2vw;
  width: 2.2vw;
  max-width: 20px;
  max-height: 20px;
  bottom: 20px;
  top: 90%;
  left: 49%;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: rgba(200,200,200,0.2);
  border-radius: 50%;
  transition: background-color 1s;
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
}
.carousel-indicators .Not_Active:nth-child(1){
  margin-left: -14vw;
}

.carousel-indicators .Not_Active:nth-child(2){
  margin-left: -10vw;
}

.carousel-indicators .Not_Active:nth-child(3){
  margin-left: -6vw;
}

.carousel-indicators .Not_Active:nth-child(4){
  margin-left: -2vw;
}

.carousel-indicators .Not_Active:nth-child(5){
  margin-left: 2vw;
}

.carousel-indicators .Not_Active:nth-child(6){
  margin-left: 6vw;
}

.carousel-indicators .Not_Active:nth-child(7){
  margin-left: 10vw;
}
.carousel-indicators .Not_Active:nth-child(8){
  margin-left: 14vw;
}

.carousel-indicators .active {
  position: fixed;
  height: 2.2vw;
  width: 2.2vw;
  max-width: 20px;
  max-height: 20px;
  /* margin-bottom: 20px; */
  background-color: rgb(215,215,215);
  color: white;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.Inner_Container{
  position: relative;
  height: 73vh;
  width: 80vw;
  top: 25px;
  left: 10vw;
  background-color: rgb(35,35,35);
  border-radius: 2vw 2vh;
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
}

.carousel-control-prev{
  transition: transform 2s ease-out;
  margin-left: -20px;
}

.carousel-control-next{
  transition: transform 2s ease-out;
  margin-right: -38px;
}

.carousel-control-prev,.carousel-control-next:hover{
  transform: scale(1.1);
}

.Logic_Gate_Label{
  position: fixed;
  top: 82%;
  left: 50%;
  height: 30px;
  width: 20vw;
  margin-left: -10vw;
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  color: rgb(170,170,170);
  /* background-color: red; */
}


