
body{
  /* margin: 0px 20px 50px 0px */
}

.Top_Bar{
  padding-left: 0px;
}

.Digital_Logic_Gates_Wrapper{
  position: absolute;
  display: flex;
  top: 108px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin-left: -22px;
  align-items: stretch;
  padding-bottom: 40px;
}

.Digital_Logic_Gates_Containers{
  border: 2vw solid rgb(20,20,20,0);
  height: 300px;
  width: 460px;
  min-width: 460px;
}

.Logic_Gates_Cards{
  position: relative;
  background-color: red;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  background-color: rgb(35,35,35);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
}

.Truth_Table_Container{
  position: absolute;
  height: 90%;
  width: 56%;
  right: 3.6%;
  bottom: 0%;
  background-color: rgb(35,35,35);
  border-radius: 12px;
}

.Logic_Gate_Diagrams{
  height: 100%;
  width: 40%;
  background-size: 90%;
  background-position: 60% 32%;
  background-repeat: no-repeat;
  filter: saturate(0.90) opacity(0.9);
}

.AND_Gate{
  background-image: url('./Assets/AND Gate.png');
}

.NAND_Gate{
  background-image: url('./Assets/NAND Gate.png');
}

.OR_Gate{
  background-image: url('./Assets/OR Gate.png');
}

.NOR_Gate{
  background-image: url('./Assets/NOR Gate.png');
}

.XOR_Gate{
  background-image: url('./Assets/XOR Gate.png');
}

.XNOR_Gate{
  background-image: url('./Assets/XNOR Gate.png');
}

.NOT_Gate{
  background-image: url('./Assets/NOT Gate.png');
}

.BUFFER_Gate{
  background-image: url('./Assets/BUFFER Gate.png');
}

.LED:nth-of-type(1){
  position: absolute;
  top: 245px;
  left: 49px;
}

.LED:nth-of-type(2){
  position: absolute;
  top: 245px;
  left: 102px;
}

.LED:nth-of-type(3){
  position: absolute;
  top: 15px;
  left: 75.5px;
}

.BUFFER_Gate > div:nth-child(2){
  display: none;
}

.BUFFER_Gate > div:nth-child(1), .NOT_Gate > div:nth-child(1){
  position: absolute;
  top: 245px;
  left: 75.5px;
}

.NOT_Gate > div:nth-child(2){
  display: none;
}

.LED{
  height: 30px;
  width: 30px;
  background: rgba(170,170,170,0.5);
  border-radius: 30px;
  border: solid rgba(150,150,150,1);
  box-shadow: inset 0 -2px 0 2px rgba(0,0,0,0.2), inset 0 0.05px 0.2px 1px rgba(255,255,255,0.5);
  transition: transform 0.2s;
}

.LED:not(:last-child):hover{
  transform: scale(1.1);
  cursor: pointer;
}

.LED_ON{
  background: rgba(235,250,255,1);
  box-shadow: inset 0 -2.5px 0 1px rgba(120,120,120,0.5), inset 0 2px 1px 2px rgba(255,255,255,0.5), 0 0px 45px 2px rgba(0,194,159,1);
}


.Jump_Animation{
  animation: Jump_Keyframes 0.3s ease-out forwards;
}

@keyframes Jump_Keyframes{
  0%{transform: translateY(0px) scaleX(1.1) scaleY(1.1);}
  10%{transform: translateY(5px) scaleX(1.2);}
  40%{transform: translateY(-7px) scaleX(0.8);}  
  75%{transform: translateY(2px) scaleX(1);} 
  100%{transform: translateY(0px) scaleX(1);}
}

.Truth_Table{
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(5,1fr);
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  margin-top: -44%;
  margin-left: -41.5%;
  border: 5px solid rgb(35,35,35);
}

.Truth_Table_Value{
  font-family: sans-serif;
  text-align: center;
  color: rgb(170,170,170);
  background-color: rgb(50,50,50);
  font-weight: bold;
  border: 2px solid rgb(35,35,35);
  box-shadow: inset 5px 5px 2px 0px rgba(0,0,0,0.1);
  font-size: 0.8em;
  line-height: 1.1em;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.Truth_Table_Value:not(:nth-child(1)):not(:nth-child(2)){
  font-size: 1.5em;
  line-height: 1.6em;
}

.Truth_Table_Value:nth-child(1){
  grid-column: 1 / span 2;
}

.BUFFER_Gate_Inputs > div:nth-child(3){
  grid-column: 1 / span 2;
}

.BUFFER_Gate_Inputs > div:nth-child(5){
  grid-column: 1 / span 2;
}

.NOT_Gate_Inputs > div:nth-child(3){
  grid-column: 1 / span 2;
}

.NOT_Gate_Inputs > div:nth-child(5){
  grid-column: 1 / span 2;
}

@media only screen and (max-width: 446px) {
  
  .Digital_Logic_Gates_Containers{
    height: 300px;
    width: 460px;
    margin-top: -150px;
    min-width: 460px;
    transform: scale(0.5);
  }

  .Digital_Logic_Gates_Wrapper{
    top: 140px;
  }
}



