
[contenteditable]{
    -webkit-user-select: text;
    user-select: text;
}

#Project_List::-webkit-scrollbar {
  display: none;
}

#Project_List {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#Projects_Label{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 14px;
  width: 100%;
  left: 0px;
  text-align: center;
  color: rgb(170,170,170);
  font-size: 40px;
  color: rgba(255,255,255,0.1);
  text-shadow: 0px -1px 0.5px black;
}

#List_Wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  height: calc(90% - 2*20px);
  width: calc(100% - 2*20px);
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgba(20,20,20); 
  border-radius: 0.5em;
  box-shadow: inset 2px 2px 3px 1px rgba(0,0,0,0.5), inset -0.2px -0.2px 0.4px 1px rgba(255,255,255,0.15);
}

#Project_List{
  position: relative;
  width: 95%;
  max-height: 95%;
  left: calc(50% - 95%/2);
  top: calc(50% - 95%/2);
  overflow: scroll;
}

.Project_Rows{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
  width: calc(100% - 5% - 2*1.5px);
  padding-left: 5%;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 5px;
  color: rgb(170,170,170);
  font-family: sans-serif;
  font-size: 12px;
  font-weight: lighter;
  border: 1.2px solid rgba(170,170,170,0);
  background-color: rgba(255,255,255,0.02);
  transition: border 0.2s linear;
}

.Project_Selected{
  border: 1.2px solid rgb(200,200,200);
}

.Squeeze_Animation{
  animation: Squeeze_Keyframes 0.3s ease-out forwards;
}

@keyframes Squeeze_Keyframes{
  0%{transform: scale(1);}
  50%{transform: scale(0.95);}
  100%{transform: scale(1);}
}

.Open_Button{
  display: flex;
  position: absolute;
  left: calc(100% - 48px);
  height: 100%;
  width: 40px;
  border-radius: 0px 3px 3px 0px;
  background-color: rgb(0,197,185);
  color: rgba(0,0,0,0.5);
  display: -webkit-flex;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  z-index: 3;
  padding-right: 8px;
  border: 1.2px solid rgb(200,200,200);
  box-shadow: inset -8px 0px 0px 0px rgba(0,0,0,0.1);
}

.Open_Button:hover{
  cursor: pointer;
}

.Project_Label_Containers{
  position: absolute;
  width: 20px;
  left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Project_Name_Containers{
  position: absolute;
  width: calc(100% - 100px);
  --Label_Width: calc(100% - 100px);
  left: calc(100% - var(--Label_Width) - 70px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background-color: cyan; */
}

.Edit_Button{
  height: 100%;
  left: calc(100% - 77px);
  background-color: orange;
  display: flex;
  position: absolute;
  height: 100%;
  width: 26px;
  padding-right: 1px;
  padding-left: 2px;
  background-color: rgb(170,170,170);
  color: rgba(0,0,0,0.5);
  display: -webkit-flex;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  z-index: 3;
  border-radius: 3px 0px 0px 3px;
  border: 1.2px solid rgb(200,200,200);
}

.Edit_Button:hover{
  cursor: pointer;
}

#Modal_Backdrop{
  position: fixed;
  left: 0;
  top: 0;
  height: 200vh;
  width: 200vw;
  background-color: rgba(0,0,0,0.8);
  z-index: 5;
}

#Rename_Modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --Scaling_Factor: min(80vh,50vw);
  --Modal_Height: calc(0.8 * var(--Scaling_Factor));
  --Modal_Width: var(--Scaling_Factor);
  height: var(--Modal_Height);
  width: var(--Modal_Width);
  border-radius: min(2vw,2vh);
  background-color: white;
  left: calc(50% - var(--Modal_Width)/2);
  top: calc(50% - var(--Modal_Height)/2);
  background-color: rgb(245,245,245);
  background-color: rgb(35,35,35);
  box-shadow: 0px 0vw 5vw 1vw black;
}

#Close_Button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgb(20,20,20);
  left: max(1%,1px);;
  top: max(1%,1px);
  width: max(min(5vw,5vh),10px);
  height: max(min(5vw,5vh),10px);
  color: rgb(170,170,170);
  font-weight: bold;
  border-radius: calc(max(min(5vw,5vh),10px)/2);
  font-size: min(2.5vw,2.5vh);
  box-shadow: inset 2px 2px 1px 0px rgba(0,0,0,0.5), inset -0.5px -0.5px 1px 0px rgba(255,255,255,0.15);
  border: min(0.2vw,0.2vh) solid rgb(22,22,22);
  transition: background-color 0.2s linear;
}

#Close_Button:hover{
  transition: background-color;
  background-color: rgb(55,55,55);  
  cursor: pointer;
}

#Rename_Modal_Title{
  width: 100%;
  height: 15%;
  text-align: center;
  font-family: sans-serif;
  color: rgb(170,170,170);
  font-weight: bold;
  font-size: 30px;
}

#Project_Name_Field{
  margin-top: 5%;
  height: 10%;
  width: 50%;
  color: rgb(170,170,170);
  font-size: min(1.5vw,2.5vh);
  font-family: sans-serif;
  background-color: rgba(255,255,255,0.1);
  border: none;
  text-align: center;
  border-radius: min(1vw,1vh);
}

#Project_Name_Field:hover{
  cursor: text;
}

#Error_Message_Label{
  margin-top: 2%;
  color: rgb(0,197,185);
  font-family: sans-serif;
  font-size: 1.5vw;
  opacity: 0;
}

#OK_Button{
  margin-top: 8%;
  width: 40%;
  height: 15%;
  border-radius: 100px;
  border: none;
  font-size: 2vw;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  background-color: rgb(0,197,185);
  border: 0.1vw solid white;
  filter: brightness(1);
  transition: filter 0.2s linear;
}

#OK_Button:hover{
  transition: filter;
  filter: brightness(1.1);
  cursor: pointer;
}

::-webkit-input-placeholder {opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s;}  /* Chrome <=56, Safari < 10 */
:-moz-placeholder {opacity: 1; -moz-transition: opacity 0.5s; transition: opacity 0.5s;} /* FF 4-18 */
::-moz-placeholder {opacity: 1; -moz-transition: opacity 0.5s; transition: opacity 0.5s;} /* FF 19-51 */
:-ms-input-placeholder {opacity: 1; -ms-transition: opacity 0.5s; transition: opacity 0.5s;} /* IE 10+ */
::placeholder {opacity: 1; transition: opacity 0.5s;} /* Modern Browsers */
   
*:focus::-webkit-input-placeholder {opacity: 0;} /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {opacity: 0;} /* FF 4-18 */
*:focus::-moz-placeholder {opacity: 0;} /* FF 19-50 */
*:focus:-ms-input-placeholder {opacity: 0;} /* IE 10+ */
*:focus::placeholder {opacity: 0;} /* Modern Browsers */

@media only screen and (max-width: 300px){
  #Rename_Modal_Title{
    font-size: 15px;
  }
}

@media only screen and (max-height: 400px){
  #Rename_Modal_Title{
    font-size: 12px;
  }
  #Error_Message_Label{
    font-size: 10px;
  }
  #OK_Button{
    font-size: 10px;
  }
}

#Modal_Backdrop{
  /* opacity: 0; */
  display: none;
}

.Fade_Out_Rename_Modal_Animation{
  --Fade_Out_Duration: 0.2s;
  animation: Fade_Out_Rename_Modal var(--Fade_Out_Duration) forwards;
}

@keyframes Fade_Out_Rename_Modal{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}

.Fade_In_Rename_Modal_Animation{
  --Fade_In_Duration: 0.2s;
  animation: Fade_In_Rename_Modal var(--Fade_In_Duration) forwards;
}

@keyframes Fade_In_Rename_Modal{
  0%{
    opacity: 0;
    pointer-events: none;
  }
  100%{
    opacity: 1;
    pointer-events: all;
  }
}












