
#Projects_Label{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 14px;
  width: 100%;
  left: 0px;
  text-align: center;
  color: rgb(170,170,170);
  font-size: 40px;
  color: rgba(255,255,255,0.1);
  text-shadow: 0px -1px 0.5px black;
}

#List_Wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  height: calc(90% - 2*20px);
  width: calc(100% - 2*20px);
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgba(20,20,20); 
  border-radius: 0.5em;
  box-shadow: inset 2px 2px 3px 1px rgba(0,0,0,0.5), inset -0.2px -0.2px 0.4px 1px rgba(255,255,255,0.15);
}

#Project_List{
  position: relative;
  width: 95%;
  max-height: 95%;
  left: calc(50% - 95%/2);
  top: calc(50% - 95%/2);
  overflow: scroll;
}

.Project_Rows{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
  width: calc(100% - 5% - 2*1.5px);
  padding-left: 5%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  color: rgb(170,170,170);
  font-family: sans-serif;
  font-size: 12px;
  font-weight: lighter;
  border: 1.2px solid rgba(170,170,170,0);
  background-color: rgba(255,255,255,0.02);
  transition: border 0.2s linear;
}



.Project_Selected{
  border: 1.2px solid rgb(200,200,200);
}

.Squeeze_Animation{
  animation: Squeeze_Keyframes 0.3s ease-out forwards;
}

@keyframes Squeeze_Keyframes{
  0%{transform: scale(1);}
  50%{transform: scale(0.95);}
  100%{transform: scale(1);}
}

.Open_Button{
  display: flex;
  position: absolute;
  left: calc(100% - 70px);
  height: 100%;
  width: 70px;
  border-radius: 0px 3px 3px 0px;
  background-color: rgb(0,197,185);
  color: rgba(0,0,0,0.5);
  display: -webkit-flex;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  z-index: 3;
  border: 1.2px solid rgb(200,200,200);
}

.Open_Button:hover{
  cursor: pointer;
}

.Project_Label_Containers{
  width: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background-color: red; */
}

.Project_Name_Containers{
  width: calc(100% - 86px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background-color: red; */
}




