body{
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
}

.Top_Bar{
  margin-left: 0px;
  overflow-x: hidden;
}

.Scrolling_Container {
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.Scrolling_Container,.Snap_Containers {
  height: 100vh;
  width: 100vw;
  font-size: 60px;
  overflow-x: hidden;
}

.Snap_Containers{  
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  background-color: white;
  background-color: rgb(20,20,20);
  /* border-bottom: 2px solid white; */
  overflow-x: hidden;
}

.Snap_Containers:nth-child(1){
  background-image: url('./Assets/Resistor Calculator Stack Smaller.png');
  background-size: 65% auto;
  background-position: -10% 50%;
  background-repeat: no-repeat;
}

.Snap_Containers:nth-child(2){
  background-image: url('./Assets/Capacitor Calculator Stack Smaller.png');
  background-size: 65% auto;
  background-position: 110% 50%;
  background-repeat: no-repeat;
}

.Snap_Containers:nth-child(3){
  background-image: url('./Assets/Digital Logic Gates Stack Smaller.png');
  background-size: 65% auto;
  background-position: -10% 50%;
  background-repeat: no-repeat;
}

.Snap_Containers:nth-child(4){
  /* background-image: url('./Assets/Digital Logic Gates Stack.png'); */
  background-size: 65% auto;
  background-position: -10% 50%;
  background-repeat: no-repeat;
}


.Launch_Buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: gray;
  height: 5vw;
  width: 22vw;
  border-radius: 3vw;
  border: none;
  top: 25vh;
  left: 66.75vw;
  font-size: 2vw;
  opacity: 0;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(240,240,240);
  border: 2px solid rgba(20,20,20,1);
  transition: box-shadow 0.5s, border 0.5s;
}

#Resistor_Calculator_Launch_Button{
  background: linear-gradient(270deg, #FF5B5B 0%, #F73279 100%);
  animation: Spring_Keyframes 0.4s forwards;
}

#Resistor_Calculator_Launch_Button:hover{
  border: 2px solid rgba(240,240,240,1);
  box-shadow: 2vw 2vw 0px 0px rgba(255,91,91,0.2);
  cursor: pointer;
}

#Capacitor_Calculator_Launch_Button{
  background: linear-gradient(90deg, #F77733 0%, #F75400 100%);
  left: 11.75vw;
}

#Capacitor_Calculator_Launch_Button:hover{
  border: 2px solid rgba(240,240,240,1);
  box-shadow: 2vw 2vw 0px 0px rgba(247,119,51,0.2);
  cursor: pointer;
}

#Digital_Logic_Gates_Launch_Button{
  background: linear-gradient(90deg, #06CCB4 0%, #00C6D2 100%);
}

#Digital_Logic_Gates_Launch_Button:hover{
  border: 2px solid rgba(240,240,240,1);
  box-shadow: 2vw 2vw 0px 0px rgba(0,198,210,0.2);
  cursor: pointer;
}

.Launch_Titles{
  position: relative;
  top: 20vh;
  left: 58vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4vw;
  color: rgb(240,240,240);
  text-align: center;
  height: 5vw;
  width: 40vw;
}

#Capacitor_Calculator_Launch_Title{
  position: relative;
  top: 20vh;
  left: 4vw;
}

.Control_Wrappers{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: rgba(255,255,255,0.2); */
}

.Summaries{
  color: rgb(240,240,240);
  font-family: sans-serif;
  font-size: 1.8vw;
  top: 35%;
  /* text-align: right; */
}

#Resistor_Calculator_Summary,#Digital_Logic_Gates_Summary{
  position: relative;
  /* background-color: rgba(255,255,255,0.1); */
  width: 36vw;
  height: 40%;
  left: 60%;
  font-weight: lighter;
}

#Capacitor_Calculator_Summary{
  position: relative;
  /* background-color: rgba(255,255,255,0.1); */
  width: 36vw;
  height: 40%;
  left: 4.8%;
  font-weight: lighter;
}

.Scroll_Indicator{
  position: fixed;
  top: 95%;
  left: 50%;
  height: 5vw;
  width: 22vw;
  color: rgb(170,170,170);
  /* background: white; */
  margin-top: -2.5vw;
  margin-left: -11vw;
  text-align: center;
  font-family: sans-serif;
  font-size: 2vw;
  animation: Highlight_Keyframes 3s infinite;
}

.Mobile_Views{
  position: relative;
  top: 5%;
  left: 0%;
  margin-left: 10px;
  margin-right: 10px;
  height: 40vw;
}

.Mobile_Support_Label{
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4vw;
  left: -2%;
  top: 0%;
  color: rgb(240,240,240);
  text-align: center;
}


.Spring_Animation{
  animation: Spring_Keyframes 0.35s forwards;
}

@keyframes Spring_Keyframes{
  0%{transform: translateY(50px); opacity: 0;}
  100%{transform: translateY(0vh); opacity: 1;}
}

@keyframes Highlight_Keyframes{
  0%{color:rgb(170,170,170); transform: scale(1);}
  12.5%{color:rgb(200,200,200); transform: scale(1.05);}
  25%{color:rgb(170,170,170); transform: scale(1);}
  100%{color:rgb(170,170,170);}
}


@media only screen and (max-width: 840px) {
  .Snap_Containers:nth-child(1){
    background-size: auto 100%;
    background-position: 50% 50%;
  }
  .Snap_Containers:nth-child(2){
    background-size: auto 100%;
    background-position: 50% 50%;
  }
  .Snap_Containers:nth-child(3){
    background-size: auto 100%;
    background-position: 50% 50%;
  }
  .Launch_Titles{
    top: 80vh;
  }  
  .Launch_Buttons{
    top: 82vh;
  }
  #Capacitor_Calculator_Launch_Title{
    top: 80vh;
  }
  #Resistor_Calculator_Summary,#Digital_Logic_Gates_Summary,#Capacitor_Calculator_Summary{
    display: none;
  }  
  #Mobile_2{
    opacity: 0;
  }
  #Mobile_3{
    opacity: 0;
  }
  #Mobile_1{
    top: 5%;
    left: 15%;
    margin-left: 0px;
    margin-right: 0px;
    height: 75vh;
  }
  .Mobile_Support_Label{
    opacity: 0;
  }
  
}

@media only screen and (max-height: 520px){
  .Launch_Titles{
    top: 60vh;
  }  
  #Capacitor_Calculator_Launch_Title{
    top: 60vh;
  }
  .Launch_Buttons{
    top: 62vh;
  }
}



