body{
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
}

.Top_Bar{
  margin-left: 0px;
  overflow-x: hidden;
}

.Scrolling_Container {
  top: 200px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.Scrolling_Container,.Snap_Containers {
  height: 100vh;
  width: 100vw;
  font-size: 60px;
  overflow-x: hidden;
}

.Snap_Containers{  
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  background-color: white;
  background-color: rgb(20,20,20);
  overflow-x: hidden;
}

.Snap_Containers:nth-child(2){
  background-image: url('./Assets/Resistor Calculator Stack Smaller.png');
  background-size: 65% auto;
  background-position: -10% 50%;
  background-repeat: no-repeat;
}

.Snap_Containers:nth-child(3){
  background-image: url('./Assets/Capacitor Calculator Stack Smaller.png');
  background-size: 65% auto;
  background-position: 110% 50%;
  background-repeat: no-repeat;
}

.Snap_Containers:nth-child(4){
  background-image: url('./Assets/Digital Logic Gates Stack Smaller.png');
  background-size: 65% auto;
  background-position: -10% 50%;
  background-repeat: no-repeat;
}

.Snap_Containers:nth-child(4){
  background-size: 65% auto;
  background-position: -10% 50%;
  background-repeat: no-repeat;
}

.Launch_Buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: gray;
  height: 5vw;
  width: 22vw;
  border-radius: 3vw;
  border: none;
  top: 25vh;
  left: 66.75vw;
  font-size: 2vw;
  opacity: 0;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(240,240,240);
  border: 2px solid rgba(20,20,20,1);
  transition: box-shadow 0.5s, border 0.5s;
}

#Resistor_Calculator_Launch_Button{
  background: linear-gradient(270deg, #FF5B5B 0%, #F73279 100%);
}

#Resistor_Calculator_Launch_Button:hover{
  border: 2px solid rgba(240,240,240,1);
  box-shadow: 2vw 2vw 0px 0px rgba(255,91,91,0.2);
  cursor: pointer;
}

#Capacitor_Calculator_Launch_Button{
  background: linear-gradient(90deg, #F77733 0%, #F75400 100%);
  left: 11.75vw;
}

#Capacitor_Calculator_Launch_Button:hover{
  border: 2px solid rgba(240,240,240,1);
  box-shadow: 2vw 2vw 0px 0px rgba(247,119,51,0.2);
  cursor: pointer;
}

#Digital_Logic_Gates_Launch_Button{
  background: linear-gradient(90deg, #06CCB4 0%, #00C6D2 100%);
}

#Digital_Logic_Gates_Launch_Button:hover{
  border: 2px solid rgba(240,240,240,1);
  box-shadow: 2vw 2vw 0px 0px rgba(0,198,210,0.2);
  cursor: pointer;
}

.Launch_Titles{
  position: relative;
  top: 20vh;
  left: 58vw;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4vw;
  color: rgb(240,240,240);
  text-align: center;
  height: 5vw;
  width: 40vw;
}

#Capacitor_Calculator_Launch_Title{
  position: relative;
  top: 20vh;
  left: 4vw;
}

.Control_Wrappers{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Summaries{
  color: rgb(240,240,240);
  font-family: sans-serif;
  font-size: 1.8vw;
  top: 35%;
  filter: opacity(0);
}


#Resistor_Calculator_Summary,#Digital_Logic_Gates_Summary{
  position: relative;
  width: 36vw;
  height: 40%;
  left: 60%;
  font-weight: lighter;
  transform: translateX(100vh);
}

#Capacitor_Calculator_Summary{
  position: relative;
  width: 36vw;
  height: 40%;
  left: 4.8%;
  font-weight: lighter;
  transform: translateX(-100vh);
}

.Scroll_Indicator{
  position: fixed;
  top: 95%;
  left: 50%;
  height: 5vw;
  width: 20vw;
  color: rgb(170,170,170);
  margin-top: -2.5vw;
  margin-left: -10vw;
  text-align: center;
  font-family: sans-serif;
  font-size: 2vw;
  opacity: 1;
  animation: Highlight_Keyframes 3s infinite;
  transition: opacity 0.5s;
}

.Spring_Animation{
  animation: Spring_Keyframes 0.6s forwards;
}

#Mobile_Showcase{
  background-color: rgb(20,20,20);
}

.Large_Support_Labels{
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
  height: 4vw;
  width: 50vw;
  left: 50%;
  margin-left: calc(-25vw);
  top: 50vh;
  color: rgb(240,240,240);
  z-index: 2;
}

.Mobile_Views{
  display: in-block;
  position: absolute;
  top: 102px;
  height:100%;
  /* min-height: 350px; */
  margin-bottom: 0px;
  width: calc(100vw/3);
  background-size: 75% auto;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  transform: translateY(100vh);
}

#Mobile_1{
  left: 0;
  /* background-color: blue; */
  background-image: url('./Assets/Mobile Support 1.png');
}

#Mobile_2{
  left: calc(100vw/3);
  /* background-color: white; */
  background-image: url('./Assets/Mobile Support 2.png');
}

#Mobile_3{
  left: calc(2*(100vw/3));
  /* background-color: blue;  */
  background-image: url('./Assets/Mobile Support 3.png'); 
}

#Browser_Title{
  top: calc(35% - 2vw);
}

.Browser_Icons{
  display: inline-block;
  position: absolute;
  top: calc(60% - 10vw);
  height: calc(20vw);;
  /* min-height: 350px; */
  margin-bottom: 0px;
  width: calc(20vw);
  background-size: 65% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translateY(-100vh);
}

#Browser_Containers{
  background-color: rgb(20,20,20);
}

#Chrome_Icon{
  left: calc(20vw);
  /* background-color: white; */
  background-image: url('./Assets/Chrome Icon.png');
}

#Safari_Icon{
  left: calc(20vw + 20vw);
  /* background-color: red; */
  background-image: url('./Assets/Safari Icon.png');
}

#Firefox_Icon{
  left: calc(20vw + 20vw + 20vw);
  background-size: 75% auto;
  /* background-color: blue;  */
  background-image: url('./Assets/Firefox Icon.png'); 
}

@media only screen and (max-width: 840px) {
  .Snap_Containers:nth-child(2){
    background-size: auto 100%;
    background-position: 50% 50%;
  }
  .Snap_Containers:nth-child(3){
    background-size: auto 100%;
    background-position: 50% 50%;
  }
  .Snap_Containers:nth-child(4){
    background-size: auto 100%;
    background-position: 50% 50%;
  }
  .Launch_Titles{
    top: 80vh;
  }  
  .Launch_Buttons{
    top: 82vh;
  }
  #Capacitor_Calculator_Launch_Title{
    top: 80vh;
  }
  #Resistor_Calculator_Summary,#Digital_Logic_Gates_Summary,#Capacitor_Calculator_Summary{
    display: none;
  } 
}

@media only screen and (max-height: 520px){
  .Launch_Titles{top: 60vh;
  }  
  #Capacitor_Calculator_Launch_Title{top: 60vh;
  }
  .Launch_Buttons{top: 62vh;
  }
  .Summaries{opacity: 0;
  }
}

@media only screen and (max-width: 1024px){
  #Mobile_1{
    width: 100vw;
    background-size: auto 80%;
    background-position: 50% 0%;
  }
  #Mobile_2{
    display: none;
  }
  #Mobile_3{
    display: none;
  }
}

@media only screen and (max-width: 565px) {
  #Browser_Title{
    height: 6vh;
    top: 15vh;
    font-size: 7vw;
    left: calc(25vw);
    width: 100vw;
  }

  .Browser_Icons{
    top: calc(60% - 25vw/2);
    height: calc(25vh);;
    /* min-height: 350px; */
    width: calc(25vh);
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  #Chrome_Icon{
    top: 22vh;
    left: calc(50vw - 25vh/2);
    background-image: url('./Assets/Chrome Icon.png');
  }

  #Safari_Icon{
    top: 47vh;
    left: calc(50vw - 25vh/2);
    background-image: url('./Assets/Safari Icon.png');
  }

  #Firefox_Icon{
    top: 72vh;
    left: calc(50vw - 25vh/2);
    background-size: 79%;
    background-image: url('./Assets/Firefox Icon.png'); 
  }
}

@media only screen and (min-height: 736px) {
  .Mobile_Views{
    top: 18vh;
  }

}

.Pop_Animation_1{
  animation: Pop_Keyframes 0.7s forwards;
}

.Pop_Animation_2{
  animation: Pop_Keyframes 0.7s forwards;
  animation-delay: 0.5s;
}

.Pop_Animation_3{
  animation: Pop_Keyframes 0.7s forwards;
  animation-delay: 1s;
}

@keyframes Pop_Keyframes{
  0%{transform: translateY(100vh) scale(1.5); filter: opacity(0);}
  70%{transform: translateY(-0.8vh);}
  80%{transform: translateY(0.5vh);}
  90%{transform: translateY(-0.2vh);}
  100%{transform: translateY(0vh);}
}

.Text_Pop_Animation_From_Right{
  animation: Text_Pop_Keyframes_From_Right 1s forwards;
}

@keyframes Text_Pop_Keyframes_From_Right{
  0%{transform: translateX(100vh); filter: opacity(0);}
  100%{transform: translateX(0vh); filter: opacity(1);}
}

.Text_Pop_Animation_From_Left{
  animation: Text_Pop_Keyframes_From_Left 1s forwards;
}

@keyframes Text_Pop_Keyframes_From_Left{
  0%{transform: translateX(-100vh); filter: opacity(0);}
  100%{transform: translateX(0vh); filter: opacity(1);}
}

@keyframes Spring_Keyframes{
  0%{transform: translateY(50px); opacity: 0;}
  100%{transform: translateY(0vh); opacity: 1;}
}

@keyframes Highlight_Keyframes{
  0%{color:rgb(170,170,170); transform: scale(1);}
  12.5%{color:rgb(200,200,200); transform: scale(1.05);}
  25%{color:rgb(170,170,170); transform: scale(1);}
  100%{color:rgb(170,170,170);}
}




