body{
  margin: 0px 20px 20px 20px;
  background-color: rgb(20,20,20);
  font-size: 100%;
  overflow-x: hidden;
}

#Top_Panel{
  display: grid;
  margin-top: 165px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  animation: Translate_Up 1s forwards;
}

.Panels{
  display: relative;
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  height: calc(350px - 150px/2 - 20px/2);
  background-color: rgb(35,35,35);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
}

#Project_List_Panel{
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  height: calc(700px - 150px);
  overflow-y: scroll;
}

#Add_Projects_Container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  position: relative;
  height: calc(100% - 2*20px);
  width: calc(100% - 2*20px);
  --Container_Size: calc(100% - 2*20px); 
  top: calc(50% - var(--Container_Size)/2);
  left: calc(50% - var(--Container_Size)/2);
}

#Add_Projects_Container > button{
  border-radius: 0.5em;
  background-color: rgb(35,35,35);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  transition: background-color 0.2s linear;
  border: none;
}


#Add_Projects_Container > button:hover{
  transition: background-color;
  background-color: rgb(55,55,55);
}

#Add_Projects_Container > button:nth-of-type(1){
  grid-row: 2 / span 1;
  
}

#Add_Projects_Container > button:nth-of-type(2){
  grid-row: 2 / span 1;
  
}

.Control_Panel_Label{
  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  align-self: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(170,170,170);
  background: rgb(20,20,20);
  height: 100%;
  width: calc(200% + 20px);
  padding-top: 15px;
  border-radius: 0.5em;
  box-shadow: inset 2px 2px 3px 1px rgba(0,0,0,0.5), inset -0.2px -0.2px 0.4px 1px rgba(255,255,255,0.15);
}

.Control_Button_Labels{
  position: relative;
  color: rgb(170,170,170);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  top: 50px;
}

#Account_Settings_Button{
  background-image: url('./Assets/Account Settings Icon.png');
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

#Logout_Button{
  background-image: url('./Assets/Logout Icon 2.png');
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: 52% 40%;
}

#New_Project_Button{
  background-image: url('./Assets/New Project Icon.png');
  background-size: 82px auto;
  background-repeat: no-repeat;
  background-position: 50% 38%;
}

#Trash_Button{
  background-image: url('./Assets/Trash Icon.png');
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: 50% 45%;
}



@media only screen and (max-width: 560px){
  #Top_Panel{
    margin-top: 135px;
  }
}

@media only screen and (max-width: 575px){

#Project_List_Panel{
  grid-row: 3;
  grid-column: 1 / span 2;  
}

#Summary_Panel{
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}

#Control_Panel{
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}
}





