/*Disabling highlighting on tap throughout application*/
*{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

/*Disabling drag on all buttons*/
button{
  -webkit-app-region: no-drag;
}

/*Disabling highlighting/copying across panel*/
*, *::after, *::before{
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

input{
  -webkit-user-select: text;
  user-select: text;
}

#Generator_Panel{
  position: relative;
  display: grid;
  --Gap_Size: 20px;
  --Generator_Panel_Width: calc(100% - 2*var(--Gap_Size));
  --Generator_Panel_Height: 100px;
  --Row_Height: calc(var(--Generator_Panel_Height)/2 - var(--Gap_Size)/2);
  grid-gap: var(--Gap_Size);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--Generator_Panel_Height)  var(--Generator_Panel_Height) var(--Generator_Panel_Height);
  --Top_Margin: 100px;
  margin-top: var(--Top_Margin);
  height: var(--Generator_Panel_Height);
  width: var(--Generator_Panel_Width);
  /* background-color: white; */
  left: calc(50% - var(--Generator_Panel_Width)/2);
  z-index: 2;
}

#Generator_Panel > div:nth-of-type(1),#Generator_Panel > div:nth-of-type(2){
  display: flex;
  /* grid-row: 1 / span 1; */
  border-radius: 20px;
  background-color: rgb(35,35,35);
  border: none;
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
}

#Left_Panel{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#Right_Panel{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

#List_Panel_Wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  --Gap_Size: 20px;
  --Top_Margin: -50px;
  --Generator_Panel_Height: 100px;
  --Generator_Panel_Width: calc(100% - 2*var(--Gap_Size));
  --Top_Offset: calc(var(--Top_Margin) + var(--Generator_Panel_Height) + var(--Gap_Size));
  margin-top: var(--Top_Offset);
  height: 1000px;
  width: var(--Generator_Panel_Width);
  background: rgb(20,20,20);  
  border: 1px solid white;
}

#List_Panel_Wrapper > div{
  border: 2px solid orange;
  
}

.Input_Fields{
  position: relative;
  --Toggle_Height: 70px;
  --Generator_Panel_Height: 100px;
  --Gap: calc((var(--Generator_Panel_Height) - var(--Toggle_Height))/2);
  height: 40px;
  width: calc(100% - var(--Toggle_Height) - 4*var(--Gap));
  margin-left: var(--Gap);
  padding-right: var(--Gap);
  top: calc(100% - 40px - var(--Gap));
  border-radius: 10px;
  border: none;
  text-align: right;
  font-size: 12px;
  /* color: rgb(0,197,185); */
  color: rgb(170,170,170);
  background-color: rgb(20,20,20);
  border: none;
  box-shadow: inset 2px 2px 3px 1px rgba(0,0,0,0.5), inset -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  transition: background-color 0.2s linear;
}

.Input_Fields:hover,.Unit_Toggle_Buttons:hover{
  cursor: text;
  transition: background-color;
  background-color: rgb(35,35,35);
}

.Unit_Toggle_Buttons{
  position: relative;
  --Toggle_Height: 70px;
  --Generator_Panel_Height: 100px;
  height: var(--Toggle_Height);
  width: var(--Toggle_Height);
  color: rgb(170,170,170);
  font-size: 25px;
  border-radius: 10px;
  border: none;
  background-color: rgb(20,20,20);
  box-shadow: inset 2px 2px 3px 1px rgba(0,0,0,0.5), inset -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  margin-left: calc((var(--Generator_Panel_Height) - var(--Toggle_Height))/2);
  top: calc(50% - var(--Toggle_Height)/2);
}

.Unit_Toggle_Buttons:hover{
  cursor: pointer;  
}

.Calculator_Labels{
  position: absolute;
  --Toggle_Height: 70px;
  --Generator_Panel_Height: 100px;
  --Gap: calc((var(--Generator_Panel_Height) - var(--Toggle_Height))/2);
  font-family: sans-serif;
  color: rgb(170,170,170);
  margin-left: var(--Gap);
  margin-top: var(--Gap);
  font-size: 18px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.Add_Buttons{
  margin-top: -10px;
  position: relative;
  --Height: 40px;
  --Width: 100px;
  height: var(--Height);
  width: var(--Width);  
  border: none;
  border-radius: 10px;
  font-size: 12px;
  background: rgb(35,35,35);
  font-family: sans-serif;
  color: white;
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), inset 1px 1px 0.5px 0px rgba(255,255,255,0.2);
  filter: brightness(0.9);
  overflow: hidden;
}

#Add_Resistor_Button{
  float: right;
  /* background: linear-gradient(270deg, #FF5B5B 0%, #F73279 100%); */
  background: linear-gradient(90deg, #06CCB4 0%, #00C6D2 100%);
}

#Add_Capacitor_Button{
  float: left;
  background: linear-gradient(90deg, #F77733 0%, #F75400 100%);
}

.Button_Labels{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  text-align: center;
}

.Slide_Label_Left{
  animation: Left_Slide_Label_Keyframes 0.2s ease-out forwards;
}

.Slide_Label_Right{
  animation: Left_Slide_Label_Keyframes 0.1s ease-out forwards;
  animation-direction: reverse;
}

@keyframes Left_Slide_Label_Keyframes{
  from{left: 0;}
  to{left: -100%;}
}

.Add_Buttons,.Default_Labels,.Alternative_Labels:hover{
  cursor: pointer;
}

.Default_Labels,.Alternative_Labels{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.Alternative_Labels{
  font-size: 20px;
}


@media only screen and (max-width: 640px){
#Left_Panel{
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

#Right_Panel{
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}
#Generator_Panel{
  grid-gap: 11px;
}

.Add_Buttons{
margin-top: 0px;
}
#List_Panel_Wrapper{
  --Top_Margin: 60px;
}

/* #Add_Resistor_Button{
  float: left;
}

#Add_Capacitor_Button{
  float: right;
} */
}

@media only screen and (max-width: 570px) {
#Generator_Panel{
  margin-top: 60px;
}
}

::-webkit-input-placeholder {opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s;}  /* Chrome <=56, Safari < 10 */
:-moz-placeholder {opacity: 1; -moz-transition: opacity 0.5s; transition: opacity 0.5s;} /* FF 4-18 */
::-moz-placeholder {opacity: 1; -moz-transition: opacity 0.5s; transition: opacity 0.5s;} /* FF 19-51 */
:-ms-input-placeholder {opacity: 1; -ms-transition: opacity 0.5s; transition: opacity 0.5s;} /* IE 10+ */
::placeholder {opacity: 1; transition: opacity 0.5s;} /* Modern Browsers */
   
*:focus::-webkit-input-placeholder {opacity: 0;} /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {opacity: 0;} /* FF 4-18 */
*:focus::-moz-placeholder {opacity: 0;} /* FF 19-50 */
*:focus:-ms-input-placeholder {opacity: 0;} /* IE 10+ */
*:focus::placeholder {opacity: 0;} /* Modern Browsers */






