.Recents{
  margin-top: -5px;
  height: 21vw;
  grid-column: 1 / span 2;
  border-radius: 0px;
  background-color: rgb(20,20,20);
}

.Recent_Resistors_Wrapper{
  display: grid;
  position: relative;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 1fr 20fr;
  grid-gap: 2%;
}

.Recent_Resistors_Wrapper > li{
  grid-row: 2;
  height: 100%;
  width: 100%;
  background-color: grey;
  list-style-type: none;  
  border-radius: 5%;
  background-color: rgb(35,35,35);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  background-image: url('./Assets/Resistor_Backing.png');
  background-size: 100%;
  background-position: 50% 50%;
  border-radius: 0px 25px 0px 25px;
  border-radius: 10px;
  opacity: 1;
}

.Recents_Label{
  grid-column: 1 / span 5;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(255,255,255,0.6);
  font-family: sans-serif;
  margin-bottom: 5px;
}

.Resistor_Type_Label{
  position: relative; 
  top: 52%;
  left: 25%;
  height: 20%;
  margin-left: -25%;
  width: 100%;
  text-align: center;
  background-color: rgb(25,25,25);
  /* box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15); */
  border-radius: 0px 0px 10px 10px;
}

.Resistor_Label{
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  margin-left: -50%;
  color: rgb(170,170,170);
  font-size: 1vw;
  background-color: none;
}

.Saved_Colour_Bands{
  display: grid;
  position: relative;
  grid-template-columns: repeat(10,1fr);
  top: 50%;
  left: 50%;
  height: 15%;
  width: 38%;
  margin-left: -19%;
  margin-top: -7.5%;
}

.Resistance_Values{
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: rgb(170,170,170);
  font-size: 1vw;
  width: 100%;
  height: 100%;
  left: 50%;
  margin-left: -50%;
  top: 30%;
  font-size: 2vw;
}

.Resistance_Holder{
  position: relative;
  width: 100%;
  height: 20%;
  top: 0%;
  left: 0%;
}

.Recent_Colour_Bands{
  background-color: rgba(0,0,0,0);
  border-radius: 1px;
}

.B1{
  grid-column: 1 / span 1;
}

.B2{
  grid-column: 3 / span 1;
}

.B3{
  grid-column: 5 / span 1;
}

.B4{
  grid-column: 7 / span 1;
}

.B5{
  grid-column: 10 / span 1;
}





