
/*Disabling highlighting on tap throughout application*/
*{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

/*Disabling drag on all buttons*/
button{
  -webkit-app-region: no-drag;
}

/*Disabling highlighting/copying across panel*/
*, *::after, *::before{
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

input{
  -webkit-user-select: text;
  user-select: text;
}

body{
  margin: 0px 0px 0px 0px;
}

.Top_Bar{
  margin-left: 0px;
}

.Under_Construction_Label{
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  width: 50%;
  height: 100%;
  width: 100%;
  margin-left: -50%;
  text-align: center;
  color: rgb(170,170,170);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5vw;
}

#Login_Wrapper{
    position: absolute;
    height: 420px;
    width: 400px;
    margin-top: 105px;
    left: max(25px,calc(20% - 150px));  
    background-color: rgba(35,35,35);
    border-radius: 25px;
    box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
}

#Sign_In_Button{
  position: absolute;
  height: 60px;
  top: calc(52% - 30px);
  width: 320px;
  left: calc(50% - 160px);
  border: none;
  border-radius: 30px;  
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(0,197,185);
  color: white;
  transition: filter 0.2s linear;
  filter: brightness(1);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.2), -0.6px -0.6px 0.4px 0px rgba(255,255,255,1);
}

#Sign_In_Button:hover{
  filter: brightness(1.1);
  transition: filter;
  cursor: pointer;
}

#Create_Account_Button{
  position: absolute;
  height: 60px;
  top: calc(77% - 30px);
  width: 320px;
  left: calc(50% - 160px);
  border: none;
  border-radius: 30px;  
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgb(170,170,170);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.2), -0.6px -0.6px 0.4px 0px rgba(255,255,255,1);
  filter: brightness(1);
  transition: filter 0.2s linear;
}

#Create_Account_Button:hover{
  filter: brightness(1.1);
  transition: filter;
  cursor: pointer;
}

.Horizontal_Rules{
  position: absolute;
  background-color: gray;
  height: 2px;
  width: 35%;
  border-radius: 1px;
  top: calc(65%  - 2.5px);
  background-color: rgb(170,170,170);
}

.Left_Horizontal_Rule{
  left: calc(28% - 17.5%);
}

.Right_Horizontal_Rule{
  left: calc(72% - 17.5%);
}

#Or_Label{
  position: absolute;
  color: rgb(170,170,170);
  font-family: sans-serif;
  font-size: 15px;
  height: 20px;
  width: 20px;
  top: calc(64.5%  - 10px);
  left: calc(50% - 10px);
  text-align: center;
  justify-content: center;
}

#Email_Field{
  position: absolute;
  height: 45px;
  width: 300px;
  top: calc(20% - 25px);
  left: calc(50% - 160px);
  border-radius: 8px;  
  border: 1px solid black;
  background: rgb(250,250,250);
}

#Password_Field{
  position: absolute;
  height: 45px;
  width: 300px;
  top: calc(35% - 25px);
  left: calc(50% - 160px);
  border-radius: 8px;  
  border: 1px solid black;
  background: rgb(250,250,250);
}

#Login_Panel_Title{
  position: absolute;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(170,170,170);
  width: 100%;
  top: 5%;
  text-align: center;  
}

#Forgot_Password_Button{
  position: absolute;
  height: 20px;
  width: 180px;
  top: calc(90% - 10px);
  left: calc(50% - 90px);
  border-radius: 8px;  
  border: 1px solid black;
  background: none;
  border: none;
  color: rgb(0,197,185);
  font-weight: bold;
  text-align: center;
  filter: brightness(1);
  transition: filter 0.2s linear;
}

#Forgot_Password_Button:hover{
  filter: brightness(1.1);
  transition: filter;
  cursor: pointer;
}


.Login_Fields{
  font-size: 18px;
  padding-left: 20px;
  color: rgb(100,100,100);
}












