
#UNDER_CONSTRUCTION_MODAL{
  display: flex;
align-items: center;
justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  font-family: sans-serif;
  color: rgba(240,240,240,0.6);
  font-size: 5vw;
  font-weight: lighter;
  text-align: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}


/*Disabling highlighting on tap throughout application*/
*{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

/*Disabling drag on all buttons*/
button{
  -webkit-app-region: no-drag;
}

/*Disabling highlighting/copying across panel*/
*, *::after, *::before{
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

input{
  -webkit-user-select: text;
  user-select: text;
}

@font-face{
  font-family: Montserrat;
  src: url('../Fonts/Montserrat/Montserrat-ExtraLight.ttf');
}

body{
  margin: 0;
}

.Top_Bar{
  margin-left: 0;
}

.Under_Construction_Label{
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  width: 50%;
  height: 100%;
  width: 100%;
  margin-left: -50%;
  text-align: center;
  color: rgb(170,170,170);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 5vw;
}

#Login_Wrapper{
  position: absolute;
  height: 420px;
  width: 400px;
  top: max(105px,14vh);
  left: max(50px,calc(20% - 150px));  
  background-color: rgba(35,35,35);
  border-radius: 25px;
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  animation: Translate_Up 1s forwards;
}

#Sign_In_Button{
  position: absolute;
  height: 14.5%;
  top: calc(55% - 7.25%);
  width: 80%;
  left: calc(50% - 40%);
  border: none;
  border-radius: 30px;  
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(0,197,185);
  color: white;
  transition: filter 0.2s linear;
  filter: brightness(1);
  box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.2), -0.6px -0.6px 0.4px 0px rgba(255,255,255,1);
}

#Sign_In_Button:hover{
  filter: brightness(1.1);
  transition: filter;
  cursor: pointer;
}

#Create_Account_Button{
  position: absolute;
  height: 14.5%;
  top: calc(80% - 7.25%);
  width: 80%;
  left: calc(50% - 40%);
  border: none;
  border-radius: 30px;  
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgb(170,170,170);
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.2), -0.6px -0.6px 0.4px 0px rgba(255,255,255,1);
  filter: brightness(1);
  transition: filter 0.2s linear;
}

#Create_Account_Button:hover{
  filter: brightness(1.1);
  transition: filter;
  cursor: pointer;
}

.Horizontal_Rules{
  position: absolute;
  background-color: gray;
  height: 0.5%;
  width: 35%;
  border-radius: 1px;
  top: calc(67.25%  - 0.25%);
  background-color: rgb(170,170,170);
}

.Left_Horizontal_Rule{
  left: calc(28% - 17.5%);
}

.Right_Horizontal_Rule{
  left: calc(72% - 17.5%);
}

#Or_Label{
  position: absolute;
  color: rgb(170,170,170);
  font-family: sans-serif;
  font-size: 15px;
  height: 5%;
  width: 5%;
  top: calc(67.5%  - 2.5%);
  left: calc(50% - 2.5%);
  text-align: center;
  justify-content: center;
}

#Email_Field{
  position: absolute;
  height: 10%;
  width: 75%;
  top: calc(20% - 5%);
  left: calc(50% - 37.5% - 2.5% - 0.14em);
  border-radius: 8px;  
  border: 0.14em solid rgb(170,170,170);
  background: rgb(250,250,250);
}

#Password_Field{
  position: absolute;
  height: 10%;
  width: 75%;
  top: calc(35% - 5%);
  left: calc(50% - 37.5% - 2.5% - 0.14em);
  border-radius: 8px;  
  border: 0.14em solid rgb(170,170,170);
  background: rgb(250,250,250);
}

#Login_Panel_Title{
  position: absolute;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(170,170,170);
  width: 90%;
  left: calc(50% - 45%);
  top: 5%;
  text-align: center;  
}

#Forgot_Password_Button{
  position: absolute;
  /* height: 5%; */
  width: 50%;
  top: calc(93% - 2.5%);
  left: calc(50% - 25%);
  border: 1px solid black;
  background: none;
  border: none;
  color: rgb(0,197,185);
  font-weight: bold;
  text-align: center;
  filter: brightness(1);
  transition: filter 0.2s linear;
}

#Forgot_Password_Button:hover{
  filter: brightness(1.1);
  transition: filter;
  cursor: pointer;
}

.Login_Fields{
  font-size: 18px;
  padding-left: 5%;
  color: rgb(100,100,100);
}

#Explanation_Panel{
  position: absolute;
  top: max(560px,75vh);
  width: min(1000px,90%);
  left: calc(50% - min(500px,45%));  
  padding-bottom: 50px;
  font-family: sans-serif;
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 100;
  text-align: center;
  color: rgb(200,200,200);
  animation: Translate_Up 1s forwards;
}

#Preview_Image{
  float: right;
  position: relative;
  top: max(105px,14vh);
  --Left_Margin: max(50px,calc(20% - 150px));
  margin-right: var(--Left_Margin);
  height: 420px;
  width: calc(100vw - 450px - 2*var(--Left_Margin));
  background-color: rgba(35,35,35);
  border-radius: 25px;
  box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.5), -0.2px -0.2px 0.4px 0.8px rgba(255,255,255,0.15);
  background-image: url('./Assets/Components 2.png');
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: 50% 40%;
}

#Preview_Image{
  font-family: sans-serif;
  font-size: 5vw;
  text-align: center;
  color: cyan;
  animation: Card_Animation 1s forwards;
}

#Carbon_Fiber_Background{
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #232323 0%, rgba(35, 35, 35, 0) 20%, rgba(35, 35, 35, 0) 50%, rgba(35, 35, 35, 0) 80%, #232323 100%);
  border-radius: 25px;
}


@media only screen and (max-width: 780px) {
  #Login_Wrapper{
      height: 420px;
      width: 80%;
      left: calc(50% - 40%);  
      border-radius: 25px;
  }
  #Explanation_Panel{
    top: 560px;
    width: 80%;
    left: calc(50% - 40%);
    font-size: 35px;
  }
  #Preview_Image{
    display: none;
  }
}

@media only screen and (max-width: 505px) {
  #Login_Panel_Title{
    font-size: 4vw;
  }
}

@keyframes Translate_Up{
  0%{
    transform: translateY(70px); 
    filter: opacity(0);
  }
  100%{
    transform: translateY(0px);   
    filter: opacity(1);  
  }
}

@keyframes Card_Animation {
  0%{
    transform: translateY(70px); 
    filter: opacity(0);
    background-position: 50% -400%; 
  }
  20%{
    background-position: 50% -400%; 
  }
  100%{
    transform: translateY(0px);   
    filter: opacity(1);  
    background-position: 50% 40%;
  }
}








